    .active-streak{
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border: 1px solid #cbcbcb;
        border-radius: 12px;
    }
    .activity-title{
        font-size: 20px;
        font-weight: 500;
        color: grey;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0 0 0 10px ;
    }
    .count{
        color: black;
        margin: 0.5rem 0.5rem 0.5rem 10px ;
        font-weight: 700;
    }