.header {
    background-color: aliceblue;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
}
.navigation{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

h2{
    color: blue;
}

.notification-btn{}

.avatar-btn{}

