@tailwind base;
@tailwind components;
@tailwind utilities;

.main-body {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  padding-right: 10rem;
  padding-left: 10rem;
  /* width: 80%; */
}

.title {
  width: 80%;
}

.active-streaks {
  width: 100%;
}

.active-streaks-title{
  top: 3rem;
}

.active-streaks-title h1{
  font-size: 2rem;
  color: black;
  font-weight: 700;
}

.additional-cards{
  margin-top: 3rem;
  width: 100%;
}